body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 215, 207);
}

 * {
    box-sizing: border-box;
} 

.cell {
    width: 10em;
    height: 10em;
    line-height: 10em;
    padding: 0;
    margin-right: -0.4em;
    margin-bottom: -0.4em;
    display: inline-block;
    border:1px solid black;
    background: rgb(0, 154, 6);
    text-align: center;
    overflow: hidden;
}


.button {
	position: absolute;
	width: 8em;
    height: 3em;
    line-height: 3em;
    padding: 0;
    display: inline-block;
    border:1px solid black;
    background: rgb(252, 175, 62);
    text-align: center;
}

.button:hover {
	cursor: pointer;
}

.button-X {
    top: 2em; left: 40em;
}

.button-O {
    top: 2em; left: 50em;
}

.button-start {
	width: 18em;
    top: 6em; left: 40em;
    background: rgb(138, 226, 52);
}

.select-btn {
	background: rgb(239, 41, 41);
}

.message {
	position: absolute;
    height: 3em;
    line-height: 3em;
    padding: 0;
    display: inline-block;
    border:1px solid black;
    width: 18em;
    top: 10em; left: 40em;
    background: rgb(255, 226, 52);
    text-align: center;
}

[hidden] { display: none; }


















